// http://eslint.org/docs/rules/
// 0 - turn the rule off
// 1 - turn the rule on as a warning (doesn't affect exit code)
// 2 - turn the rule on as an error (exit code will be 1)
{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "globals": {
        "Y": true,
        "Static": true,
        "require": true,
        "Squarespace": true
    },
    "rules": {
        // Possible Errors
        "no-console": 0,
        "valid-jsdoc": [
            2,
            {
                "prefer": {
                    "return": "returns"
                },
                "requireReturn": false,
                "requireParamDescription": true,
                "requireReturnDescription": false
            }
        ],
        "valid-typeof": 2,
        "no-unexpected-multiline": 2,


        // Best Practices
        "complexity": [
            1,
            2
        ],
        "consistent-return": 2,
        "curly": 2,
        "default-case": 2,
        "dot-notation": 2,
        "dot-location": [
            2,
            "property"
        ],
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-debugger": 0,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-labels": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": [
            2
        ],
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 1,
        "no-iterator": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": [
            2
        ],
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-octal": 2,
        "no-param-reassign": 0, // Switch to 2 ?
        //"no-process-env": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": [
            2,
            "always"
        ],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": [
            1
        ],
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": [
            2,
            "inside"
        ],
        "yoda": [
            2,
            "never"
        ],


        // Strict Mode
        "strict": [
            2,
            "never"
        ],


        // Variables
        "init-declarations": [
            2,
            "always"
        ],
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": 2,
        "no-undef-init": 2,
        "no-undef": 2,
        "no-undefined": 1,
        "no-unused-vars": 2,
        "no-use-before-define": 0, // Switch to 2 ?


        // Node.js and CommonJS


        // Stylistic Issues
        "array-bracket-spacing": [
            2,
            "never"
        ],
        "block-spacing": [
            2,
            "always"
        ],
        "brace-style": [
            2,
            "1tbs"
        ],
        "camelcase": [
            0,
            {
                "properties": "never"
            }
        ],
        "comma-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            2,
            "last"
        ],
        "computed-property-spacing": [
            2,
            "always"
        ],
        "consistent-this": [
            1,
            "self"
        ],
        "eol-last": 0,
        "func-names": 0, // Switch to 2 ?
        "func-style": [
            2,
            "expression"
        ],
        "id-length": [
            2,
            {
                "min": 2,
                "max": 37,
                "properties": "never",
                "exceptions": ["$", "e", "i", "j", "x", "y", "z"]
            }
        ],
        //"id-match": [2, "^[a-z]+([A-Z][a-z]+)*$", {"properties": false}],
        "indent": [
            2,
            4
        ],
        "key-spacing": [
            2,
            {
                //"align": "colon",
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "lines-around-comment": [
            0,
            {
                "beforeBlockComment": false,
                "beforeLineComment": false,
                "allowBlockStart": true,
                "allowBlockEnd": true
            }
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "max-nested-callbacks": [
            2,
            2
        ],
        "new-cap": 1,
        "new-parens": 2,
        "newline-after-var": [
            2,
            "always"
        ],
        "no-array-constructor": 2,
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": [
            2
        ],
        "no-multiple-empty-lines": 0,
        "no-nested-ternary": 1,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": [
            2
        ],
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 2,
        "object-curly-spacing": [
            2,
            "always"
        ],
        "one-var": [
            2,
            "never"
        ],
        "operator-assignment": [
            2,
            "always"
        ],
        "operator-linebreak": [
            2,
            "after"
        ],
        "padded-blocks": 0,
        "quote-props": [
            2,
            "consistent-as-needed"
        ],
        "quotes": [
            1,
            "double"
        ],
        "semi-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "semi": [
            2,
            "always"
        ],
        "sort-vars": 0,
        "keyword-spacing": [
            2,
           {
                "before": true,
                "after": true
            }
        ],
        "space-before-blocks": [
            2,
            "always"
        ],
        "space-before-function-paren": [
            2,
            "always"
        ],
        "space-in-parens": [
            0
            //"always"
        ],
        "space-infix-ops": [
            2
        ],
        "space-unary-ops": [
            2,
            {
                "words": true,
                "nonwords": false
            }
        ],
        "spaced-comment": [
            0
        ],
        "wrap-regex": 0,


        // ECMAScript 6
        "arrow-parens": [
            2,
            "always"
        ],
        "arrow-spacing": [
            2,
            {
                "before": true,
                "after": true
            }
        ],
        "constructor-super": 2,
        "generator-star-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": [
            1,
            "always"
        ],
        "prefer-arrow-callback": 1,
        "prefer-const": 2,
        "prefer-spread": 2,
        "prefer-reflect": 0,
        "prefer-template": 2,
        "require-yield": 2
    }
}