{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {
        "Y": true,
        "Static": true,
        "require": true,
        "Squarespace": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
