/******************************************************************************
 * Document
*******************************************************************************/
html {
    background-color: $white;
    }
body {
    background-color: transparent;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-family-sans();
    }
// html,
// body {
//     height: 100%;
//     max-height: 100%;
//     overflow: hidden;
//     }



/******************************************************************************
 * User Agent
*******************************************************************************/
// ::-webkit-scrollbar {
//     display: none;
//     }
