/******************************************************************************
 * Document
*******************************************************************************/
html {
    background-color: $blue;
    box-sizing: border-box;
    }
body {
    background-color: transparent;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-sans();
    }
// html,
// body {
//     height: 100%;
//     max-height: 100%;
//     overflow: hidden;
//     }
a {
    color: inherit;
    text-decoration: none;
    }


/******************************************************************************
 * Box Sizing
*******************************************************************************/
*,
*:before,
*:after {
    box-sizing: inherit;
    }



/******************************************************************************
 * User Agent
*******************************************************************************/
// ::-webkit-scrollbar {
//     display: none;
//     }
