/******************************************************************************
 * Icons
*******************************************************************************/
.icon {
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;
    }
.icon--logo svg {
    width: $logo-width;
    }
