/******************************************************************************
 * Images
*******************************************************************************/
.image {
    max-width: 100%;
    width: 100%;
    }



/******************************************************************************
 * Figures
*******************************************************************************/
.figure {
    font-size: 0;
    width: 100%;
    }