/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p {
    @include p();

    a {
        border-bottom: 1px solid inherit;
        }
    em {
        @include em();
        }
    b,
    strong {
        @include b();
        }
    }
.li,
.cms li {
    @include li();
    }
.ol .li,
.cms ol li {
    @include ol-li();
    }
.ul .li,
.cms ul li {
    @include ul-li();
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a {
    @include a();
    border-bottom: 1px solid transparent;
    transition: color $fast-duration $ease,
                border-bottom-color $fast-duration $ease;
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
    }
.h2,
.cms h2 {
    @include h2();
    }
.h3,
.cms h3 {
    @include h3();
    }
.h4,
.cms h4 {
    @include h4();
    }
.h5,
.cms h5 {
    @include h5();
    }
.h6,
.cms h6 {
    @include h6();
    }
