/******************************************************************************
 * Button / Labels
*******************************************************************************/
.btn {
    @include btn();
    }
.btn--small,
.btn--medium,
.btn--large {
    color: $white;
    transition: background-color $base-duration $ease;
    }
.btn--large {
    background-color: $green-dark;
    padding: 20px;
    }
.btn--medium {
    background-color: $black;
    padding: 16px;
    }
.btn--small {
    background-color: $black;
    padding: 12px;
    }
.btn__icon {
    margin-right: 10px;
    }
.btn__icon,
.btn__label {
    display: inline-block;
    vertical-align: middle;
    }



/******************************************************************************
 * Meta
*******************************************************************************/
.meta {
    @include meta();
    }



/******************************************************************************
 * Emphasis
*******************************************************************************/
.em {
    @include b();
    }



/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include p();
    }



/******************************************************************************
 * Buttons
*******************************************************************************/




/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include a();
    }



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.h2,
.h3 {
    strong {
        @include b();
        }
}

.h1 {
    @include h1();
    }
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
