/******************************************************************************
 * Display
*******************************************************************************/
.-wrap {
    @include wrap();
}
.-exp {
    @include exp();
}
.-expt {
    @include expt();
}
.-expb {
    @include expb();
}
.-hr {
    @include ruler();
}



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.-cover--top {
    background-position: 50% 0;
}
.-cover--right {
    background-position: 100% 50%;
}
.-cover--bottom {
    background-position: 50% 100%;
}
.-cover--left {
    background-position: 0 50%;
}



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
}
.-text--right {
    text-align: right;
}
.-text--left {
    text-align: left;
}
.-fzero {
    font-size: 0;
}
