/******************************************************************************
 * Animations
*******************************************************************************/
.animate {
    transition-duration: $base-duration;
    transition-timing-function: $ease;

    &.is-static {
        transition-duration: 0ms;
        }
}
.animate--fade {
    opacity: 0;
    transition-property: opacity;

    &.is-animate {
        opacity: 1;
        }
}
.animate--lift {
    transform: translateY( $expander-1 );
    transition-property: transform;

    &.is-animate {
        transform: translateY( 0 );
        }
}
