/******************************************************************************
 * Animations
*******************************************************************************/
.animate {
    opacity: 0;
    transition: opacity $base-duration $ease;

    &.is-animate {
        opacity: 1;
        }
    &.is-static {
        transition-duration: 0ms;
        }
}
.animate--transform {
    transform: translateY( $expander-two );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-animate {
        transform: translateY( 0 );
        }
}
