/******************************************************************************
 * Commerce
*******************************************************************************/
.shop {}
.shop__mast {
    h1 {
        margin-bottom: $expander-0;
    }
}



.starred {
    @include wrap();
    display: block;

    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }

    .starred__title {
        @include h2();
    }

    .starred__meta {
        @include m();
        margin-top: $meta-nudge-2;
    }

    .starred__info {
        margin-top: $expander-0;

        @include respond( $mobile-breakpoint ) {
            @include wrap();
        }
    }
}



.product {}
.product__limited {
    padding-top: $expander-0;
}
.product__info {
    @include wrap();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: $expander-0;

    p {
        @include m();
    }

    .sqs-block-html .sqs-block-content {
        padding-left: 0;
        padding-right: 0;
    }

    .stack & {
        padding-bottom: $expander-0;
    }
}
.product__about {
    width: 66.666666%;

    p strong {
        .story & {
            color: $grey-dark;
        }
    }
    p + p {
        .story & {
            margin-top: $expander-0;
        }
    }
}
.product__about,
.product__buy {
    @include respond( $tablet-breakpoint ) {
        width: 100%;
    }
}
.product__buy {
    .btn {
        width: 256px;

        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }

    @include respond( $tablet-breakpoint ) {
        order: 1;
        margin-bottom: $expander-0;
    }
}
.product__about {
    @include respond( $tablet-breakpoint ) {
        order: 2;
    }
}



.cart {
    .cart__tabular {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $expander-0;
        border-bottom: 1px solid $grey-dark;

        div {
            @include m();
        }
    }

    .cart__tabular > div:nth-child( 1 ),
    .cart__item {
        width: 56.25%;
    }

    .cart__entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $grey-dark;
        user-select: none;
        @include exp();

        @include respond( $tablet-breakpoint ) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .cart__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            width: 100%;
        }

        @include respond( $mobile-breakpoint ) {
            flex-wrap: wrap;
        }
    }

    .cart__qty {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            padding-top: $padding-m;
        }

        @include respond( $mobile-breakpoint ) {
            width: auto;
        }

        svg {
            pointer-events: none;
        }

        .min,
        .add {
            cursor: pointer;
        }

        .min {}

        .add {}

        .m {
            padding: 0 8px;
            text-align: center;
            width: 32px;
        }
    }

    .cart__price {
        @include respond( $tablet-breakpoint ) {
            padding-left: $padding-1;
            padding-top: $padding-m;
        }
    }

    .cart__thumb {
        width: 100%;
        max-width: 256px;

        @include respond( $mobile-breakpoint ) {
            max-width: 100%;
        }
    }

    .cart__desc {
        padding-left: $expander-0;

        @include respond( $mobile-breakpoint ) {
            width: 100%;
            padding-left: 0;
            padding-top: $padding-m;
        }
    }

    .cart__title {
        @include p();
    }

    .cart__attrs {
        color: $grey;
        padding-top: 10px;
    }

    .cart__subtotal {
        padding-top: $expander-0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding-left: $expander-0;
        }
    }
}
