/******************************************************************************
 * Commerce
*******************************************************************************/
.shop {
    .grid {
        @include exp();
        @include wrap();
    }
}
.stack {
    @include wrap();

    &.stack--sub {
        background-color: $black;
        color: $white;

        .stack__info {
            p {
                @include a( $white );
            }
        }
    }

    & + .stack:not( .stack--sub ) {
        .stack__wrap {
            border-top: 2px solid $grey-dark;

            @include respond( $break-tablet-small ) {
                border-top: 0;
            }
        }
    }

    .stack__wrap {
        padding-top: $expander-1;
        padding-bottom: $expander-1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .stack__image {
        width: 670px;

        @include respond( $laptop-breakpoint ) {
            width: 470px;
        }

        @include respond( $tablet-breakpoint ) {
            width: 320px;
        }

        @include respond( $break-tablet-small ) {
            width: 100%;
            max-width: 470px;
        }
    }



    .stack__info {
        padding-left: 200px;
        max-width: $text-width;
        width: sqs-calc( "100% - 670px" );

        h3 {
            .shop & {
                margin-bottom: $padding-m;
            }
        }

        p {
            display: inline-block;
            @include a( $black );
        }

        @include respond( $break-laptop-full ) {
            padding-left: 7.8125vw;
        }

        @include respond( $laptop-breakpoint ) {
            width: sqs-calc( "100% - 470px" );
        }

        @include respond( $tablet-breakpoint ) {
            width: sqs-calc( "100% - 320px" );
        }

        @include respond( $break-tablet-small ) {
            width: 100%;
            max-width: 470px;
            padding-left: 0;
            padding-top: $padding-m;
        }
    }

}
.product {
    @include p1-cols();

    .p1 {
        @include exp();
        @include wrap();
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .p1__shipping {
        padding-bottom: $padding-m;
    }

    .story {
        padding-top: 0;
        padding-bottom: $expander-1;
    }

    .cta--static {
        padding-left: 0;
        padding-right: 0;
        @include exp();
    }

    .image-col {
        @include respond( $mobile-breakpoint ) {
            padding-top: $padding-m;
        }
    }
}
.cart {
    .cart__tabular {
        @include m();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $padding-m;
        border-bottom: 2px solid $grey-dark;
    }

    .cart__tabular > div:nth-child( 1 ),
    .cart__item {
        width: 56.25%;
    }

    .cart__entry {
        @include exp();
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid $grey-dark;
        user-select: none;

        @include respond( $tablet-breakpoint ) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    .cart__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            width: 100%;
        }

        @include respond( $mobile-breakpoint ) {
            flex-wrap: wrap;
        }
    }

    .cart__qty {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            padding-top: $padding-m;
        }

        @include respond( $mobile-breakpoint ) {
            width: auto;
        }

        svg {
            pointer-events: none;
        }

        .min,
        .add {
            cursor: pointer;
        }

        .min {
            svg {
                transform: rotate( 90deg );
            }
        }

        .add {
            svg {
                transform: rotate( -90deg );
            }
        }

        .p {
            padding: 0 $padding-m;
            text-align: center;
            width: 90px;

            @include respond( $mobile-breakpoint ) {
                padding: 0 ($padding-m / 2);
                width: 60px;
            }
        }
    }

    .cart__price {
        @include respond( $tablet-breakpoint ) {
            padding-left: $padding-1;
            padding-top: $padding-m;
        }
    }

    .cart__thumb {
        width: 100%;
        max-width: 310px;

        @include respond( $mobile-breakpoint ) {
            max-width: 100%;
        }
    }

    .cart__desc {
        padding-left: $padding-1;

        @include respond( $mobile-breakpoint ) {
            width: 100%;
            padding-left: 0;
            padding-top: $padding-m;
        }
    }

    .cart__title {
        p {}
    }

    .cart__attrs {
        color: $grey;
        padding-top: $padding-m;
    }

    .cart__subtotal {
        padding-top: $padding-m * 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            padding-left: $padding-m;
        }
    }
}
.issue {}
.issue__button {
    z-index: 1;
}
.issue__desc {
    padding-top: $padding-1;
    padding-bottom: $padding-1;
}
