.cover {
    .cover__title {
        h1 {
            max-width: 100%;
        }

        .is-level3-page & {
            display: none;
        }
    }
    .cover__image {
        margin: $expander-0 0;
    }
}
