/******************************************************************************
 * Forms
*******************************************************************************/
$email-width: 375px;



.form {
    width: 100%;
    max-width: $form-width;

    &.is-success {
        max-width: $text-width;
    }

    &[data-block="newsletter"] {
        max-width: $mobile-breakpoint;

        input[type="name"] {
            display: none;
        }

        input[type="email"] {
            max-width: $email-width;

            @include respond( $mobile-breakpoint ) {
                display: block;
                text-align: center;
                max-width: $form-width;
            }
        }

        button {
            @include respond( $mobile-breakpoint ) {
                display: block;
                width: 100%;
                max-width: $form-width;
            }
        }

        .form__message {
            max-width: $form-width;
        }

        @include respond( $tablet-breakpoint ) {
            margin: 0 auto;
            text-align: center;
        }
    }
}
.form__entry {
    .is-success & {
        display: none;
    }
}
.form__message {
    display: none;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid $purple;

    p:nth-child( 3 ) {
        margin-top: $expander-0;
    }

    .is-success & {
        display: block;
    }
}
.form__fieldset {
    margin-bottom: 20px;
}
.form__fieldset--inline {
    display: flex;
    flex-wrap: wrap;

    @include respond( $tablet-breakpoint ) {
        justify-content: center;
    }
}
.form__fieldset--title {
    p {
        margin-bottom: 20px;
    }

    p, div {
        max-width: $form-width;

        @include respond( $tablet-breakpoint ) {
            display: inline-block;
        }
    }
}
.form__checks {
    label {
        display: flex;
        align-items: center;
    }

    span {
        display: inline-block;
        margin-left: 20px;
    }
}




/******************************************************************************
 * Buttons
*******************************************************************************/
.inp {
    @include input();
}
.area {
    @include textarea();
}
.inp.inp--grey,
.area.inp--grey {
    border-color: $grey-dark;
}



.sel {
    @include select();
}
.sel-wrap {
    position: relative;

    &.is-error:before {
        background-color: $red;
    }

    &.is-success:before {
        background-color: $green;
    }

    &:before {
        content: "";
        width: $input-height;
        height: $input-height;
        position: absolute;
        right: 0;
        top: 50%;
        transform:translate3d( 0, -50%, 0 );
        pointer-events: none;
        transition: background-color $base-duration $ease;

        // tweak
        background-color: $purple;

        @include respond( $mobile-breakpoint ) {
            height: $input-height-m;
            width: $input-height-m;
        }
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $white transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        right: $input-height / 2;
        top: 50%;
        transform: translate3d( 50%, -40%, 0 );

        @include respond( $mobile-breakpoint ) {
            right: $input-height-m / 2;
        }
    }
}



.btn {
    @include button();

    .btn__a {}
}
.btn.btn--green {
    background-color: $green;
    color: mix( black, $green, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $green, 25% );
    }
}
.btn.btn--yellow {
    background-color: $yellow;
    color: mix( black, $yellow, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $yellow, 25% );
    }
}
.btn.btn--red {
    background-color: $red;
    color: mix( black, $red, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $red, 25% );
    }
}
.btn.btn--pink {
    background-color: $pink;
    color: mix( black, $pink, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $pink, 25% );
    }
}
.btn.btn--purple {
    background-color: $purple;
    color: mix( black, $purple, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $purple, 25% );
    }
}
.btn.btn--blue {
    background-color: $blue;
    color: mix( black, $blue, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $blue, 25% );
    }
}
.btn.btn--grey {
    background-color: $grey-dark;
    color: mix( black, $grey-dark, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $grey-dark, 25% );
    }
}
