.header {
    // tweak
    height: $header-height;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: $z_layer_intro + 1;
    padding-bottom: $header-padding;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    background-color: transparent;

    .boxen-left-navi & {
        align-items: center;
    }

    @include respond( $laptop-breakpoint ) {
        // tweak
        height: $header-height-tablet;
    }

    @include respond( $mobile-breakpoint ) {
        // tweak
        height: $header-height-mobile;
        padding-bottom: 0;
        align-items: center;
    }
}
.header__primo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: $z_layer_intro + 1;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        align-items: center;
    }

    .boxen-left-navi & {
        justify-content: flex-start;
        align-items: center;

        @include respond( $mobile-breakpoint ) {
            justify-content: space-between;
        }
    }
}
.header__navi {
    .boxen-left-navi & {
        padding-left: $expander-0;

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
        }
    }
}
.header__logo,
.header__navi,
.header__socials {
    position: relative;
    pointer-events: auto;
    z-index: 2;
    transition: opacity $base-duration $ease $base-duration;

    .is-site-intro & {
        opacity: 0;
    }
}
.header__socials {
    display: none;

    .boxen-left-navi & {
        text-align: right;
        display: inline-block;
        width: 100%;

        @include respond( $break-tablet-small ) {
            display: none;
        }
    }

    .sqs-layout {
        display: inline-block;
    }
}
