/******************************************************************************
 * Images
*******************************************************************************/
.image {
    max-width: 100%;
    width: 100%;
    }



/******************************************************************************
 * Figures
*******************************************************************************/
.figure {
    font-size: 0;
    width: 100%;
    }
.figure__cap {
    padding-left: $expander-mobile;
    padding-top: $expander-mobile;
    }
