.intro {
    pointer-events: auto;
    z-index: $z_layer_intro;

    &.is-active {
        z-index: $z_layer_intro;
        }
}
.intro__logo {
    animation: logo 3000ms 1;
    max-width: 100%;
    width: 0;
    }



@keyframes logo {
    0% {
        opacity: 1;
        width: 50px;
    }

    15% {
        opacity: 1;
        width: $logo-width;
    }

    90% {
        opacity: 1;
        width: $logo-width;
    }

    100% {
        opacity: 0;
        width: $logo-width / 2;
    }
}
