.kit-of-parts {}
.kit-of-parts__part {
    border-top: 1px solid $grey-rule;
    position: relative;

    &:first-child {
        border-top: 0;
        }
    }
.kit-of-parts__parts {
    }
.kit-of-parts__part__label {
    left: $expander-one;
    position: absolute;
    top: $expander-one;
    }
