.main {
    // transition: opacity $base-duration $ease $base-duration;
    //
    // .is-tranny & {
    //     transition-delay: 0ms;
    // }

    .is-tranny &,
    .is-site-intro & {
        opacity: 0;
    }

    .is-navi-mobile & {
        pointer-events: none;
    }

    > .cms {
        .is-404-page & {
            padding-left: 0;
            padding-right: 0;
            @include exp();
        }
    }
}
.router {
    display: none;
}



/******************************************************************************
 * Experimental stuff...
*******************************************************************************/
.blitz {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    background-color: $grey-black;

    > div {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        > img {
            display: inline-block;
            vertical-align: top;
        }
    }

    > span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: $expander-0;
        @include wrap();
    }
}
