/******************************************************************************
 * Media
*******************************************************************************/
.media {}
.media__wrap {
    position: relative;
    width: 100%;
}
.media__node {}
.media__cap {
    text-align: left;
    padding-top: $expander-0;
    max-width: $text-width;
    color: $grey-dark;
}



/******************************************************************************
 * Image nodes
*******************************************************************************/
.image {
    max-width: 100%;
    width: 100%;

    &[src*="undefined"] {
        padding-bottom: 56.25%;
        background: $grey-dark;
        width: 100%;
        display: block;

        &:after {
            content: "";
        }

        &:before {
            content: "";
        }
    }
}



/******************************************************************************
 * Audio block
*******************************************************************************/
._audio {}



/******************************************************************************
 * Video embed block
*******************************************************************************/
.embed {
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: left;
}
.embed__aspect {
    background-color: $black;
    position: relative;
    width: 100%;
}
.embed__poster,
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.embed__poster {
    transition: opacity $base-duration $ease;

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__playbtn {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: opacity $base-duration $ease;

    ._svg {
        transition: transform $base-duration $ease;
    }

    .is-hoverable &:hover {
        ._svg {
            transform: scale( 1.10 );
        }
    }

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__metadata {
    color: $white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: $padding-1;
    padding-bottom: $padding-1;
    transition: opacity $base-duration $ease;

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
        padding-bottom: $padding-m;
    }
}
