/******************************************************************************
 * Captions for Images, Videos etc...
*******************************************************************************/
._cap {
    text-align: left;
    padding-top: $expander-0;
    max-width: $cap-width;
    color: $grey-dark;
}



/******************************************************************************
 * Images
*******************************************************************************/
.image {
    max-width: 100%;
    width: 100%;

    &[src*="undefined"] {
        padding-bottom: 56.25%;
        background: $grey-dark;
        width: 100%;
        display: block;

        &:after {
            content: "";
        }

        &:before {
            content: "";
        }
    }
}
.image-wrap {}
.image-poster {
    position: relative;

    .image {
        position: relative;
        z-index: 1;
    }

    .image-poster__info {
        @include wrapl();
        @include expb();
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;

        .btn {
            margin-top: $meta-nudge-2;
        }

        p {
            @include respond( $mobile-breakpoint ) {
                color: $grey-dark;
            }
        }

        @include respond( $mobile-breakpoint ) {
            position: relative;
            padding-top: $meta-nudge-2;
        }
    }

    &:after {
        content: "";
        background-color: $black;
        opacity: 0.35;
        transition: opacity $base-duration $ease;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        @include respond( $mobile-breakpoint ) {
            display: none;
        }
    }
}
.image-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include wrap();

    .image-wrap,
    .image-card__info {
        width: 50%;
        display: inline-block;

        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }

    &.overlap {}
    &.collage {}

    .image-card__info {
        h1, h2, h3 {
            color: $teal;
        }

        p {
            color: $grey-dark;
            margin-top: $meta-nudge;
        }

        .btn {
            margin-top: $meta-nudge-2;
        }

        @include respond( $mobile-breakpoint ) {
            @include wrap();
            padding-top: $meta-nudge-2;
        }
    }

    &.left {
        .image-wrap {
            order: 1;
        }

        .image-card__info {
            order: 2;
            @include wrapl();
        }
    }

    &.right {
        .image-wrap {
            order: 2;

            @include respond( $mobile-breakpoint ) {
                order: 1;
            }
        }

        .image-card__info {
            order: 1;
            @include wrapr();

            @include respond( $mobile-breakpoint ) {
                order: 2;
            }
        }
    }
}



/******************************************************************************
 * Audio block
*******************************************************************************/
._audio {}



/******************************************************************************
 * Video embed block
*******************************************************************************/
.embed {}
.embed__aspect {
    background-color: $black;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.embed__poster,
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.embed__poster {
    transition: opacity $base-duration $ease;
    pointer-events: none;

    &:before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: $black;
        opacity: 0.4;
    }

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__playbtn {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: opacity $base-duration $ease;
    pointer-events: auto;
    cursor: pointer;

    ._svg {
        transition: transform $base-duration $ease;
        pointer-events: none;
    }

    .is-hoverable &:hover {
        ._svg {
            transform: scale( 1.10 );
        }
    }

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
