.navi {
    background-color: transparent;

    &.is-active {
        pointer-events: none;

        .navi__ul {
            pointer-events: auto;
            }
    }
}
.navi__a {
    font-size: 10vh;
    line-height: 1;
    }
