.screen {
    background-color: transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $base-duration $ease,
                visibility $base-duration $ease;
    visibility: hidden;
    z-index: $z_layer_screen;

    &.is-active {
        opacity: 1;
        visibility: visible;
        -webkit-overflow-scrolling: touch;
    }
}
.screen--dark {
    background-color: $black;
    }
.screen--light {
    background-color: $white;
    }
