.screen {
    background-color: transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $fast-duration $ease,
                z-index $fast-duration $ease,
                visibility $fast-duration $ease;
    visibility: hidden;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_screen;
        -webkit-overflow-scrolling: touch;

        .screen__wrap {
            pointer-events: auto;
            }
        }
    }
.screen--dark {
    background-color: $black;
    }
.screen--light {
    background-color: $white;
    }
