.story {}
.stories {}



._card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include wrap();
}
._card--left {
    ._card__media {
        order: 1;

        @include respond( $mobile-breakpoint ) {
            order: 2;
        }
    }
    ._card__title {
        order: 2;

        @include respond( $mobile-breakpoint ) {
            order: 1;
        }
    }
}
._card--right {
    ._card__media {
        order: 2;
    }
    ._card__title {
        order: 1;
    }
}
._card__title {
    width: sqs-calc( "100% - #{$tall-width-0}" );

    h1, h3, h3 {}

    &:first-child {
        @include wrapr();

        @include respond( $mobile-breakpoint ) {
            padding-right: 0;
        }
    }

    &:last-child {
        @include wrapl();

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
        }
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
        padding-bottom: $padding-m;
    }
}
._card__media {
    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}



.summary-v2 {
    position: relative;
}
