._svg {
    transition: fill $base-duration $ease;
    cursor: pointer;
}
._svg--logo {
    width: 128px;
    height: 108px;
    transition: fill $base-duration $ease,
                width $base-duration $ease,
                height $base-duration $ease;

    .header & {
        @include respond( $mobile-breakpoint ) {
            width: 64px;
            height: 54px;
        }
    }

    // tweak
    .is-navi-mobile & {
        fill: $white;
    }

    .is-boxen-page &,
    .is-uid-page & {
        // tweak
        fill: $white;
        width: 114px;
        height: 96.19px;

        @include respond( $mobile-breakpoint ) {
            width: 64px;
            height: 54px;
        }
    }
}
._svg--play {
    width: $input-height;
    height: $input-height;
    fill: $white;
    pointer-events: none;
}
._svg--npm {
    // tweak
    fill: $teal;
    width: 64px;
    height: 20.48px;
}
._svg--tabi {
    // tweak
    fill: $teal;
    width: 43px;
    height: 29px;
}
._svg--cyborg {
    width: 197px;
    height: 515px;
    fill: $grey-dark;
}
._svg--robot {
    width: 493px;
    height: 438px;
    fill: $grey-dark;
}
._svg--fallgirl {
    width: 383px;
    height: 465px;
    fill: $grey-dark;
}
