._svg {
    transition: fill $base-duration $ease;
    cursor: pointer;
}
._svg--logo {
    width: 128px;
    height: 108px;
    transition: fill $base-duration $ease,
                width $base-duration $ease,
                height $base-duration $ease;

    .header & {
        @include respond( $mobile-breakpoint ) {
            width: 64px;
            height: 54px;
        }
    }

    // tweak
    .is-navi-mobile & {
        fill: $white;
    }

    // tweak
    .is-home-page & {
        fill: $black;
    }

    .is-index-page &,
    .is-level2-page & {
        // tweak
        fill: $white;
        width: 114px;
        height: 96.19px;

        @include respond( $mobile-breakpoint ) {
            width: 64px;
            height: 54px;
        }
    }
}
._svg--play {
    width: $expander-m;
    height: $expander-m;
    fill: $white;
    pointer-events: none;

    @include respond-min( $mobile-breakpoint ) {
        width: $padding-1;
        height: $padding-1;
    }

    @include respond-min( $desktop-breakpoint ) {
        width: $expander-1;
        height: $expander-1;
    }
}
._svg--npm,
._svg--tabi,
._svg--patreon,
._svg--kickstarter {
    // tweak
    fill: $teal;

    // tweak
    .header & {
        fill: $black;
    }

    // tweak
    .is-level2-page .header &,
    .is-index-page .header &,
    .is-navi-mobile .header & {
        fill: $teal;
    }
}
._svg--npm {
    width: 64px;
    height: 20.48px;
}
._svg--tabi {
    width: 43px;
    height: 29px;
}
._svg--kickstarter {
    width: 25.18px;
    height: 28px;
}
._svg--patreon {
    // tweak
    fill: $teal;
    width: 29.197px;
    height: 28px;
}
