@mixin info() {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include wrap();
    background-color: rgba( 0, 0, 0, 0.25 );

    > div {
        width: 100%;
        text-align: center;
    }

    .p,
    .h2 {
        max-width: 100%;
        width: 100%;
    }

    .btn {
        margin-top: $padding-1;

        @include respond( $mobile-breakpoint ) {
            margin-top: $padding-1 / 2;
        }
    }
}
@mixin info-wrap() {
    margin-top: $padding-1;
    display: block;
    position: relative;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        margin-top: $padding-1 / 2;
    }

    .h2 {
        @include respond( $tablet-breakpoint ) {
            @include h3();
        }
    }
}



.tabi {
    .sqs-block-html,
    .sqs-block-button {
        .sqs-block-content {
            display: flex;
            justify-content: center;
            margin-top: 0;
        }
    }
}
.tabi__desc {
    p {
        text-align: left;
    }

    p:nth-child( 1 ) {
        @include h2();

        em,
        strong,
        strong em,
        em strong {
            color: $purple;
        }
    }
}
.tabi__hero {
    @include wrap();

    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }
}



.tabi__chapters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.tabi__chapter {
    @include info-wrap();

    // In all its forms
    &:nth-child( 1 ) {

    }

    // And so it will be
    // And then there were two
    &:nth-child( 2 ),
    &:nth-child( 3 ) {
        width: sqs-calc( "50% - (#{$padding-1} / 2)" );

        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }

    // A day in her life
    &:nth-child( 4 ) {

    }
}
.tabi__chapter__info {
    @include info();
}



.tabi__page {}
.tabi__comic {
    max-width: $text-width;
    width: 100%;
    display: inline-block;
}
.tabi__title {
    margin-top: $padding-1;
}
.tabi__controls {
    margin-top: $padding-1;

    .btn {
        margin: 0 ($padding-1 / 4);
    }
}
.tabi__text {
    p {
        display: inline-block;
    }
}



.cast {}
.cast__title {
    padding-bottom: $expander-0;
}
.cast__member {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:nth-child( even ) {
        justify-content: flex-end;
        align-items: flex-end;
    }
}
.cast__wrap {
    display: inline-block;
    max-width: $text-width;
    width: 100%;
}
.cast__info {
    padding-top: $expander-0;
}



.support {}
.support__info {
    padding-bottom: $expander-0;
    text-align: left;
}
.support__member {
    display: flex;
    justify-content: center;
    align-items: center;
}
.support__wrap {
    display: inline-block;
    max-width: $text-width;
    width: 100%;
}
.support__option {
    text-align: center;
}
.support__info {
    .btn {
        margin-top: $expander-0;
    }
}



.extras {}
.extras__page {
    @include info-wrap();
}
.extras__page__info {
    @include info();
}
// .extras__wrap {
//     &.-wrap {
//         @include respond( $mobile-breakpoint ) {
//             padding-left: 0;
//             padding-right: 0;
//         }
//     }
// }
