/******************************************************************************
 * Functions
*******************************************************************************/
@function sqs-calc( $expression ) {
    @return #{"~\"calc( #{$expression} )\""};
}


/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-sans() {
    font-family: $font-sans-regular;
    @include font-normal();
}
@mixin font-family-sans-bold() {
    font-family: $font-sans-bold;
    @include font-normal();
}
@mixin font-family-monospace() {
    font-family: $font-monospace;
    @include font-normal();
}
@mixin font-family-monospace-italic() {
    font-family: $font-monospace-italic;
    @include font-normal();
}
@mixin font-family-monospace-bold() {
    font-family: $font-monospace-bold;
    @include font-normal();
}
@mixin font-family-monospace-bold-italic() {
    font-family: $font-monospace-bold-italic;
    @include font-normal();
}


/******************************************************************************
 * Typography: Hierarchy
*******************************************************************************/
@mixin mono() {
    font-size: $m-size-mobile;
    line-height: $m-line;
    @include font-family-monospace-bold();
    max-width: $text-width;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size;
    }
}
@mixin m() {
    font-size: $m-size-mobile;
    line-height: $m-line;
    @include font-family-sans-bold();
    max-width: $text-width;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size;
    }
}
@mixin p() {
    font-size: $p-size-mobile;
    line-height: $p-line;
    @include font-family-sans-bold();
    max-width: $text-width;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-fluid;
    }

    @include respond-min( $laptop-breakpoint ) {
        font-size: $p-size;
    }
}
@mixin h1() {
    font-size: $h1-size-mobile;
    line-height: $h1-line;
    @include font-family-sans-bold();
    max-width: $text-width-2;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-fluid;
    }

    @include respond-min( $laptop-breakpoint ) {
        font-size: $h1-size;
    }
}
@mixin h2() {
    font-size: $h2-size-mobile;
    line-height: $h2-line;
    @include font-family-sans-bold();
    max-width: $text-width;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-fluid;
    }

    @include respond-min( $laptop-breakpoint ) {
        font-size: $h2-size;
    }
}
@mixin h3() {
    font-size: $h3-size-mobile;
    line-height: $h3-line;
    @include font-family-sans-bold();
    max-width: $text-width;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-fluid;
    }

    @include respond-min( $laptop-breakpoint ) {
        font-size: $h3-size;
    }
}
@mixin sqs-alert-button() {
    font-family: $font-sans-bold !important;
    font-size: $m-size-mobile !important;
    line-height: $m-line !important;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size !important;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size !important;
    }
}


/******************************************************************************
 * Typography: Children
*******************************************************************************/
@mixin a( $color ) {
    color: $color;
    border-bottom: 1px solid $color;
    transition: border-bottom-color $base-duration $ease,
                color $base-duration $ease;

    &.is-active,
    .is-hoverable &:hover,
    .is-hoverable &.is-active:hover {
        border-bottom-color: transparent;
        color: mix( black, $color, 25% );
    }
}
@mixin placeholder( $color ) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
    &::placeholder { /* Future standard */
        color: $color;
    }
}



/******************************************************************************
 * Typography: UI
*******************************************************************************/
@mixin button() {
    @include m();
    padding: 0 40px;
    line-height: 1;
    color: $black;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: $input-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    transition: background-color $base-duration $ease;

    // tweak
    background-color: $teal;

    // tweak
    .is-hoverable &:hover {
        background-color: mix( black, $teal, 25% );
    }

    @include respond( $mobile-breakpoint ) {
        height: $input-height-m;
    }
}
@mixin input() {
    @include m();
    @include placeholder( $grey-dark );
    line-height: 1;
    padding: 0 20px;
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    color: $white;
    width: 100%;
    max-width: $form-width;
    height: $input-height;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    transition: color $base-duration $ease,
                border-color $base-duration $ease;

    // tweak
    border: 3px solid $purple;

    &.is-error {
        border-color: $red;
    }

    &.is-success {
        border-color: $green;
    }

    @include respond( $mobile-breakpoint ) {
        height: $input-height-m;
    }
}
@mixin textarea() {
    @include input();
    height: $textarea-height;
    padding-top: 20px;

    @include respond( $mobile-breakpoint ) {
        height: $textarea-height;
    }
}
@mixin select() {
    @include m();
    color: $grey-dark;
    line-height: 1;
    padding: 0 20px;
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    width: 100%;
    max-width: $form-width;
    height: $input-height;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    // tweak
    border: 3px solid $purple;

    @include respond( $mobile-breakpoint ) {
        height: $input-height-m;
    }

    &.is-error {
        border-color: $red;
    }

    &.is-success {
        border-color: $green;
    }

    &.is-selected {
        color: $white;
    }
}



/******************************************************************************
 * Layout: Spacers
*******************************************************************************/
@mixin spacer() {
    padding-top: $expander-v2;
    padding-bottom: $expander-v2;

    @include respond( $laptop-breakpoint ) {
        padding-top: $expander-m;
        padding-bottom: $expander-m;
    }

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-0;
        padding-bottom: $expander-0;
    }
}
@mixin ruler() {
    background-color: $grey-dark;
    height: 1px;
    margin-top: $expander-v;
    margin-bottom: $expander-v;

    @include respond( $laptop-breakpoint ) {
        margin-top: $expander-1;
        margin-bottom: $expander-1;
    }

    @include respond( $mobile-breakpoint ) {
        margin-top: $expander-m;
        margin-bottom: $expander-m;
    }
}
@mixin exp() {
    padding-top: $expander-v;
    padding-bottom: $expander-v;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-m;
        padding-bottom: $expander-m;
    }
}
@mixin expt() {
    padding-top: $expander-v;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-m;
    }
}
@mixin expb() {
    padding-bottom: $expander-v;

    @include respond( $mobile-breakpoint ) {
        padding-bottom: $expander-m;
    }
}



/******************************************************************************
 * Layout: Wrappers
*******************************************************************************/
@mixin wrap() {
    padding-left: $padding-v;
    padding-right: $padding-v;

    @include respond( $laptop-breakpoint ) {
        padding-left: $padding-1;
        padding-right: $padding-1;
    }

    @include respond( $tablet-breakpoint ) {
        padding-left: $expander-0;
        padding-right: $expander-0;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
        padding-right: $padding-m;
    }
}
@mixin wrap-mobile-media() {
    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }

    ._cap {
        @include respond( $mobile-breakpoint ) {
            @include wrap();
        }
    }
}
@mixin wrapr() {
    padding-right: $padding-v;

    @include respond( $laptop-breakpoint ) {
        padding-right: $padding-1;
    }

    @include respond( $tablet-breakpoint ) {
        padding-right: $expander-0;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
    }
}
@mixin wrapl() {
    padding-left: $padding-v;

    @include respond( $laptop-breakpoint ) {
        padding-left: $padding-1;
    }

    @include respond( $tablet-breakpoint ) {
        padding-left: $expander-0;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
    }
}
@mixin wrap-imp() {
    padding-left: $padding-v !important;
    padding-right: $padding-v !important;

    @include respond( $laptop-breakpoint ) {
        padding-left: $padding-1 !important;
        padding-right: $padding-1 !important;
    }

    @include respond( $tablet-breakpoint ) {
        padding-left: $expander-0 !important;
        padding-right: $expander-0 !important;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m !important;
        padding-right: $padding-m !important;
    }
}



/******************************************************************************
 * Layout: Components
*******************************************************************************/
@mixin slider-margin() {
    margin-left: $padding-v;

    @include respond( $laptop-breakpoint ) {
        margin-left: $padding-1;
    }

    @include respond( $tablet-breakpoint ) {
        margin-left: $expander-0;
    }

    @include respond( $mobile-breakpoint ) {
        margin-left: $padding-m;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
