/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-sans() {
    font-family: $font-family-sans;
    @include font-normal();
}
@mixin font-family-serif() {
    font-family: $font-family-serif;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size;
    line-height: $p-line;
    @include font-family-sans();
}
@mixin li() {
    padding-left: 20px;
    @include p();
}
@mixin ol-li() {
    list-style: decimal;
}
@mixin ul-li() {
    list-style: disc;
}
@mixin a() {
    display: inline;
    text-decoration: none;
    @include font-family-sans();
}
@mixin b() {
    font-weight: 600;
}
@mixin em() {
    font-style: italic;
}
@mixin h1() {
    font-size: $h1-size;
    line-height: $h1-line;
    @include font-family-serif();
}
@mixin h2() {
    font-size: $h2-size;
    line-height: $h2-line;
    @include font-family-serif();
}
@mixin h3() {
    font-size: $h3-size;
    line-height: $h3-line;
    @include font-family-serif();
}
@mixin h4() {
    font-size: $h4-size;
    line-height: $h4-line;
    @include font-family-serif();
}
@mixin h5() {
    font-size: $h5-size;
    line-height: $h5-line;
    @include font-family-serif();
}
@mixin h6() {
    font-size: $h6-size;
    line-height: $h6-line;
    @include font-family-serif();
}



/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
