/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-sans: "Helvetica";



/******************************************************************************
 * Colors
*******************************************************************************/
$blue: #1bbcef;
$black: #000;
$charcoal: #333;
$medium: #555;
$white: #fff;
$grey: #eee;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-one: 80px;
$expander-two: 160px;
$expander-three: 240px;
$expander-mobile: 40px;
$padding-index: 10vw;
$padding-wrap: 5vw;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$logo-width: 480px;
$header-height: 160px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 20px;
$p-line: 1.5;
$h1-size: 64px;
$h1-line: 1.5;
$h2-size: 56px;
$h2-line: 1.5;
$h3-size: 48px;
$h3-line: 1.5;
$h4-size: 40px;
$h4-line: 1.5;
$h5-size: 32px;
$h5-line: 1;
$h6-size: 24px;
$h6-line: 1;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;
