/******************************************************************************
 * Fonts
*******************************************************************************/
$serif-text: "Georgia";
$sans-serif-text: "Helvetica";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey: #555;
$grey-light: #d7d7d7;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-one: 80px;
$expander-two: 160px;
$expander-three: 240px;
$expander-mobile: 40px;
$expander-dub: $expander-two + 20px;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$logo-width: 256px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 16px; // 24
$h1-size: 48px; // 48
$h2-size: 28px; // 32
$h3-size: 16px; // 24
$btn-size: 13px; // 21
$meta-size: 13px; // 13



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$ease-one: cubic-bezier( 0.9, 0, 0.1, 1 );
$ease-two: cubic-bezier( 0.14, 1, 0.34, 1 );
$ease-three: cubic-bezier( 0, 0, 0.2, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$midi-duration: 300ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;
