/******************************************************************************
 * Display
*******************************************************************************/
.-exp-2 {
    padding-bottom: $expander-two;
    padding-top: $expander-two;
    }
.-exp-1 {
    padding-bottom: $expander-one;
    padding-top: $expander-one;
    }
.-exp {
    padding-bottom: $expander-mobile;
    padding-top: $expander-mobile;
    }
.-wrap {
    @include wrap();
    }
.-wrap-copy {
    @include wrap-copy();
    }
.-wrap-index {
    @include wrap-index();
    }
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-grey {
    color: $medium;
    }
.-fzero {
    font-size: 0;
    }
