@media only screen and ( max-width: $break-laptop-medium ) {
    .-wrap-index {
        @include wrap();
        }
    .project__info {
        max-width: $break-mobile-medium;
        }
    .project__body {
        .slices__content {
            width: calc( 100vw - #{$padding-wrap} - #{$break-mobile-medium} );
            }
    }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .index__title,
    .index__image {
        width: 50%;
        }
    .index__categories {
        display: none;
        }
    .index__col + .index__col {
        padding-left: $padding-index;
        }
    .project__info {
        max-width: $wrap-copy;
        padding-bottom: $expander-one;
        padding-top: 0;
        position: relative;
        }
    .project__body {
        padding-left: $padding-wrap;

        .slices__content {
            width: 100%;
            }
    }
}



@media only screen and ( min-width: $wrap-copy ) {
    .-wrap-copy {
        max-width: $wrap-copy;
        // padding-left: 0;
        // padding-right: 0;
        }
}
