/******************************************************************************
 * Document States
*******************************************************************************/
.is-navi-open {
    .icon--list {
        .top,
        .mid,
        .bot {
            opacity: 0;
            }
        .ex1,
        .ex2 {
            opacity: 1;
            }
        .ex1 {
            transform: rotate( -45deg );
            }
        .ex2 {
            transform: rotate( 45deg );
            }
    }
}
