/******************************************************************************
 * Document
*******************************************************************************/
.is-scrolling {
    pointer-events: none;
}

.is-scrolling-up {
}

.is-scrolling-down {
}

.is-hoverable {

    .btn--large:hover {
        background-color: $grey;
        }
    .btn--small:hover,
    .btn--medium:hover {
        background-color: $black;
        }

}
